@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

    @{
        ViewData["Title"] = "Kullanıcılar";
    }

    <h2>Kayıtlı Kullanıcılar</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Kullanıcı Adı</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
